<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="create-blogs content">
            <form action="/blogs" method="post">
                <lable for="title">Blog Title:</lable>
                <input type="text" name="title" required id="title" />
                <lable for="snippet">Blog snippet:</lable>
                <input type="text" name="snippet" id="snippet" required />
                <lable for="body">Blog Body:</lable>
                <textarea name="body" id="body" required></textarea>
                <button>Submit</button>
            </form>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
